# Series 1

In [1]:
import pandas as pd

## Aufgabe 1.1

### a)

In [6]:
df = pd.read_csv("child.csv", sep=",", index_col=0)

### b)

In [18]:
# (Rows, Columns)
df.shape

(30, 21)

### c)

In [9]:
df.describe()

,Average.disposable.income,Children.in.poor.homes,Educational.Deprivation,Overcrowding,Poor.environmental.conditions,Average.mean.literacy.score,Literacy.inequality,Youth.NEET.rate,Low.birth.weight,Infant.mortality,...,Vaccination.rates..pertussis.,Vaccination.rates.measles.,Physical.activity,Mortality.rates,Suicide.rates,Smoking,Drunkenness,Teenage.births,Bullying,Liking.school
count,30.000000,30.000000,30.000000,26.000000,24.000000,30.000000,30.000000,27.000000,30.000000,30.000000,...,29.000000,29.000000,26.000000,29.000000,29.000000,24.000000,24.000000,30.000000,24.000000,25.00000
mean,18.847713,12.372193,2.673333,31.950163,25.217498,496.317000,1.665085,7.377778,6.643333,5.446667,...,93.775862,91.517241,20.134615,24.598966,6.856272,16.512500,15.225000,15.500000,10.979167,27.17200
std,7.597219,5.592696,3.315370,21.132363,7.483096,29.381643,0.067391,6.489656,1.728001,4.506756,...,5.317334,5.909138,6.157983,6.745815,3.204545,4.766852,4.301794,13.967326,5.146462,10.39926
min,3.839462,2.740000,0.400000,10.326503,10.500000,408.670000,1.475432,1.700000,3.900000,2.300000,...,78.000000,74.000000,13.100000,14.840000,1.263026,8.100000,10.000000,3.700000,4.200000,11.70000
25%,16.617877,8.901475,1.000000,17.058130,20.153506,482.750000,1.623048,4.550000,5.150000,3.525000,...,91.000000,88.000000,15.800000,21.170000,5.036520,14.625000,11.350000,7.050000,7.975000,21.40000
50%,21.107187,11.659053,1.500000,21.574977,25.487116,501.335000,1.682739,6.200000,6.750000,4.200000,...,95.800000,94.000000,19.300000,23.150000,6.784772,16.600000,14.550000,10.600000,9.650000,25.60000
75%,22.642722,16.091953,2.200000,44.392351,30.236732,512.835000,1.719012,8.400000,7.500000,5.250000,...,97.800000,96.300000,21.800000,25.750000,8.863713,19.500000,17.925000,17.800000,13.825000,34.90000
max,34.241822,24.590000,13.700000,73.957667,38.712874,552.670000,1.755798,37.700000,11.300000,23.600000,...,99.800000,99.800000,42.100000,50.230000,15.949567,27.100000,24.800000,65.800000,25.300000,57.40000

### d)

In [21]:
"Netherlands" in df.index

True

In [14]:
"China" in df.index

False

In [17]:
print("\n".join(df.columns))

Average.disposable.income
Children.in.poor.homes
Educational.Deprivation
Overcrowding
Poor.environmental.conditions
Average.mean.literacy.score
Literacy.inequality
Youth.NEET.rate
Low.birth.weight
Infant.mortality
Breastfeeding.rates
Vaccination.rates..pertussis.
Vaccination.rates.measles.
Physical.activity
Mortality.rates
Suicide.rates
Smoking
Drunkenness
Teenage.births
Bullying
Liking.school

### e)

In [22]:
drunk = df.sort_values(by="Drunkenness", ascending=False)
drunk.head()

,Average.disposable.income,Children.in.poor.homes,Educational.Deprivation,Overcrowding,Poor.environmental.conditions,Average.mean.literacy.score,Literacy.inequality,Youth.NEET.rate,Low.birth.weight,Infant.mortality,...,Vaccination.rates..pertussis.,Vaccination.rates.measles.,Physical.activity,Mortality.rates,Suicide.rates,Smoking,Drunkenness,Teenage.births,Bullying,Liking.school
Denmark,23.175894,2.740000,0.7,17.552965,20.151467,501.00,1.594974,4.3,4.9,4.4,...,95.0,96.0,22.7,22.93,5.942231,15.0,24.8,6.6,8.0,25.6
Finland,22.027651,4.170000,1.0,15.228876,22.802362,552.67,1.475432,5.2,4.1,3.0,...,97.0,97.0,24.8,23.54,12.158687,22.0,22.4,9.7,8.0,16.1
United Kingdom,22.697062,10.080000,1.8,21.497427,29.069052,501.67,1.690351,9.3,7.5,5.1,...,91.4,83.8,18.7,21.17,2.987869,15.9,22.1,24.8,9.7,35.7
Poland,7.939399,21.500000,2.1,73.957667,22.841904,500.33,1.632217,1.7,6.1,6.4,...,99.0,97.0,17.3,28.13,8.863713,16.4,19.9,14.5,9.6,21.1
Canada,25.606245,15.057585,2.1,NaN,NaN,529.33,1.573912,6.1,5.9,5.3,...,78.0,94.0,23.6,23.43,10.047535,8.6,18.8,13.2,14.0,29.5